.benefits {
  &__title {
    @media (max-width: 430px) {
      max-width: 300px;
    }
  }

  &__list {
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1230px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 830px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 510px) {
      grid-template-columns: repeat(1, 1fr);
      max-width: 340px;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__item {
    padding: 22px 18px 18px;
    border-radius: 8px;
    background-color: $white;
    box-shadow: -1px -1px 18px 2px rgba(232, 228, 239, .48);
    @include r($tablet) {
      padding: 25px 18px 20px;
    }

    img {
      margin: 0 auto 26px;
      @include r($lg) {
        width: auto;
        height: 190px;
      }
      @media (max-width: 890px) {
        height: 180px;
      }
      @include r($tablet) {
        height: 170px;
      }
      @media (max-width: 540px) {
        height: 160px;
      }
    }
  }

  &__name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 14px;
    line-height: 1.1;
    @include r($sm) {
      font-size: 20px;
    }
  }

  &__description {
    color: rgba($black, .8);
  }
}