.filling {
  @include bg;
  padding: 70px 0;
  color: $white;
  background-color: #100F0F;
  background-image: url("../images/filling-bg.svg");
  @include r($lg) {
    padding: 55px 0;
  }

  &__inner {
    @include flex-between-center-gap(50);
    align-items: stretch;
    @media (max-width: 960px) {
      gap: 80px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__info {
    max-width: 520px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 35px;
    line-height: 1.05;
  }

  &__text {
    max-width: 465px;
    font-size: 20px;
    color: rgba($white, .7);
    margin-bottom: 40px;
    @media (max-width: 1100px) {
      font-size: 18px;
      margin-bottom: 0;
    }
    @include r($phone) {
      font-size: 17px;
    }
  }

  &__bottom {
    margin-top: auto;
    @media (max-width: 960px) {
      display: none;
    }

    &.mobile {
      display: none;
      @media (max-width: 960px) {
        margin-top: -25px;
        display: block;
      }
    }
  }

  &__subtext {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba($white, .8);
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @include r($tablet) {
      font-size: 16px;
    }
  }

  &__link {
    @include flex-align-center(9);
    font-size: 24px;
    line-height: 1;
    padding: 2px 1px;
    margin-left: -2px;
    max-width: max-content;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: color .4s, border .4s;
    @media (max-width: 1100px) {
      font-size: 22px;
    }
    @media (max-width: 960px) {
      font-size: 20px;
      margin: 0 auto;
    }
    @include r($tablet) {
      font-size: 18px;
      gap: 7px;
    }

    &:hover {
      color: $accent;

      svg path {
        fill: $accent;
      }
    }

    &:focus {
      border-color: $accent;
      color: $white;

      svg path {
        fill: $white;
      }
    }

    svg {
      @media (max-width: 1100px) {
        width: 25px;
        height: 25px;
      }
      @include r($tablet) {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__form {
    max-width: 630px;
    width: 100%;
    @include r($desktop) {
      max-width: 560px;
    }
    @media (max-width: 960px) {
      text-align: left;
    }
  }

  &__items {
    @include flex-column(20);
    margin-bottom: 25px;
    @media (max-width: 530px) {
      gap: 46px;
    }
  }

  &__row {
    &.grid {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 530px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 26px;
      }
    }
  }

  &__selectors {
    @include flex-align-center(10);
    margin-top: 4px;
    border-bottom: 1px solid #393939;

    span {
      color: rgba($white, .3);
    }
  }

  &__select {
    color: rgba($white, .4);
    padding: 10px 0;
    transition: color .4s, border .4s;

    &:hover {
      color: $white;
    }

    &.active {
      color: $accent;
      user-select: none;
      pointer-events: none;
    }
  }

  &__btn {
    max-width: 170px;
    width: 100%;
    border-width: 1px;
    font-size: 16px;
    padding: 14px 20px;
    @media (max-width: 960px) {
      max-width: 100%;
    }

    &:hover {
      background-color: transparent;
      border-color: $white;
      color: $white;
    }

    &:focus {
      background-color: $accent;
      border-color: transparent;
      color: $white;
    }
  }
}