.btn {
  @include flex-align-center(16);
  justify-content: center;
  padding: 16px 22px;
  background-color: rgba($white, .1);
  font-weight: 600;
  color: $white;
  font-size: 18px;
  border-radius: 8px;
  backdrop-filter: blur(7.7px);
  max-width: max-content;
  border: 2px solid transparent;
  transition: color .4s, background-color .4s, border .4s;
  @include r($sm) {
    font-size: 16px;
  }
}