.input {
  padding: 12px 10px 12px 0;
  width: 100%;
  font-size: 16px;
  color: $white;
  border-bottom: 1px solid #393939;
  background-color: transparent;
  transition: border .4s, color .4s;

  &:hover {
    border-color: $accent;
  }

  &:focus {
    border-color: $accent;
  }

  &--textarea {
    min-height: 170px;
    max-height: 200px;
    resize: vertical;
  }
}

.label {
  color: rgba($white, .8);
  line-height: 1.25;
  margin-bottom: 6px;
  transition: color .4s;

  &.error {
    color: #ff3535;
  }

  span {
    color: #FF3535;
  }
}