.top {
  @include flex-column(24);
  align-items: center;
  text-align: center;
  max-width: 490px;
  width: 100%;
  margin: 0 auto 60px;
  @include r($tablet) {
    margin-bottom: 50px;
  }

  &.long {
    max-width: 530px;
  }

  &__text {
    font-size: 20px;
    max-width: 465px;
    font-weight: 500;
    margin: 0 auto;
    @include r($sm) {
      font-size: 18px;
    }

    &.short {
      max-width: 435px;
    }
  }
}