<header class="header">
  <div class="container">
    <div class="header__inner">
      <img class="header__logo" src="images/logo.svg" width="182" height="28" alt="logo Holo Safe">
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link desktop" href="#portfolio">Partners</a>
          </li>
          <li>
            <a class="header__link desktop" href="#about">About</a>
          </li>
          <li>
            <a class="header__link desktop" href="#services">Services</a>
          </li>
          <li>
            <a class="header__link desktop" href="#reviews">Testimonials</a>
          </li>
          <li>
            <a class="header__link desktop" href="#faq">FAQ</a>
          </li>
          <li>
            <a class="header__link twitter" href="https://x.com/HoloSafeio" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <mask id="mask0_122_4511" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="22"
                      height="22">
                  <path d="M0.25 0H21.75V21.5H0.25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_122_4511)">
                  <path
                      d="M17.1812 1.00732H20.4784L13.2759 9.26025L21.75 20.4925H15.1157L9.91579 13.6816L3.97257 20.4925H0.672321L8.37546 11.6621L0.25 1.00886H7.05321L11.7464 7.23311L17.1812 1.00732ZM16.0218 18.5145H17.8493L6.055 2.88243H4.09543L16.0218 18.5145Z"
                      fill="white"/>
                </g>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <a class="header__btn btn desktop" href="#form">Request a Quote</a>
      <button class="menu-btn menu-btn--header" type="button">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Взаимодействовать с меню</span>
      </button>
    </div>
  </div>
  <nav class="header__mobile">
    <ul class="header__list">
      <li>
        <a class="header__link mobile" href="#partners">Partners</a>
      </li>
      <li>
        <a class="header__link mobile" href="#about">About</a>
      </li>
      <li>
        <a class="header__link mobile" href="#services">Services</a>
      </li>
      <li>
        <a class="header__link mobile" href="#reviews">Testimonials</a>
      </li>
      <li>
        <a class="header__link mobile" href="#faq">FAQ</a>
      </li>
      <li>
        <a class="header__link twitter" href="https://x.com/HoloSafeio" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <mask id="mask0_122_4511" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="22"
                  height="22">
              <path d="M0.25 0H21.75V21.5H0.25V0Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_122_4511)">
              <path
                  d="M17.1812 1.00732H20.4784L13.2759 9.26025L21.75 20.4925H15.1157L9.91579 13.6816L3.97257 20.4925H0.672321L8.37546 11.6621L0.25 1.00886H7.05321L11.7464 7.23311L17.1812 1.00732ZM16.0218 18.5145H17.8493L6.055 2.88243H4.09543L16.0218 18.5145Z"
                  fill="white"/>
            </g>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>